<%- include("../partials/header") %>

<script src="https://js.stripe.com/basil/stripe.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const options = document.querySelectorAll('input[name="checkout-option"]');
  const divs = {
    paymentlink: document.getElementById('paymentlink-div'),
    hostedcheckout: document.getElementById('hostedcheckout-div'),
    embededform: document.getElementById('embededform-div'),
    embededcomponent: document.getElementById('embededcomponent-div'),
	advancedintegration: document.getElementById('advancedintegration-div')
  };

  function updateVisibility(selected) {
    for (const key in divs) {
      if (selected === key) {
        divs[key].removeAttribute('hidden');
      } else {
        divs[key].setAttribute('hidden', true);
      }
    }
    if (selected === 'none') {
      for (const key in divs) {
        divs[key].setAttribute('hidden', true);
      }
    }
  }

  options.forEach(option => {
    option.addEventListener('change', function() {
      updateVisibility(this.value);
    });
  });

  // Initialize with "none"
  updateVisibility('none');
});
</script>
<style>
.option-section label {
  margin-right: 1.5rem;
  font-weight: 500;
}
</style>
<div class="container ord-show-div">
	<div class="row">
		<div class="col-md-7">
			<div class="border my-4 px-2 px-md-3 py-3">
				<h6 class="float-right"><%= order.date.toDateString() %></h6>
				<h6>Order No - <%= order.no %></h6>
				<% order.checkoutCart.items.forEach(function(cartItem){ %>
					<hr>
					<div class="row">
						<div class="col-3">
							<a href="/products/<%= cartItem.product.id %>">
								<div class="resp-img order" style="background-image:url('<%= cartItem.product.image %>')"></div>
							</a>
						</div>
						<div class="col-9">
							<a href="/products/<%= cartItem.product.id %>">
								<div class="a mb-2"><%= cartItem.product.name %></div>
							</a>
							<h6>
								<span class="mr-1">$<%= cartItem.product.price %></span>
								<span class="nowrap">
									<span class="mrp mr-1">$<%= cartItem.product.mrp %></span>
									<span class="disc"><%= cartItem.product.disc_perc %>% off</span>
								</span>
								<div class="disc nowrap">You Saved $<%= cartItem.product.discount %></div>
							</h6>
							<div class="nowrap">Quantity - <%= cartItem.qty %></div>
						</div>
					</div> 
				<% }); %>
			</div>
		</div>
		<div class="col-md-5">
			<div class="border mb-4 mt-md-4 px-2 px-md-3 pt-3 pb-2">
				<h5>Shipping Details</h5>
				<hr>
				<h6><%= order.name %></h6>
				<div><%= order.address.addr %></div>
				<div><%= order.address.city %>, <%= order.address.state %></div>
				<div><%= order.address.pin %></div>
				<div>Phone Number: <%= order.contactNo %></div>
				<hr>
				<h6 class="float-right">$<%=order.checkoutCart.cart_total%></h6>
				<h6>Order Total</h6>
				<h6 class="float-right disc">(-)$<%=order.checkoutCart.discount%></h6>
				<h6 class="disc">Discount</h6>
				<h6 class="float-right">$<%=order.checkoutCart.total%></h6>
				<h6>Total Payable</h6>
				<h6>Payment Method: <%= order.paymentMode %></h6>
			</div>
		</div>
	</div>
	<div></div>

	<!-- Option Section for Payment Methods -->
	<div class="option-section mb-4">
	<label><input type="radio" name="checkout-option" value="none" checked> None</label>
	<label><input type="radio" name="checkout-option" value="paymentlink"> Payment Link</label>
	<label><input type="radio" name="checkout-option" value="hostedcheckout"> Hosted Checkout</label>
	<label><input type="radio" name="checkout-option" value="embededform"> Embedded Form</label>
	<label><input type="radio" name="checkout-option" value="embededcomponent"> Embedded Component</label>
	<label><input type="radio" name="checkout-option" value="advancedintegration"> Advanced</label>
	</div>

	<!-- Create a Payment Link -->
	<div id="paymentlink-div" hidden>
       <%- include("../stripe-partials/paymentlinkbutton") %>
	</div>
	<!-- End -->

	<!-- Create a Checkout Session -->
	 <div id="hostedcheckout-div" hidden>
		<%- include("../stripe-partials/hostedcheckout") %>
	 </div>
    <!-- End -->

	<!-- Create an Embedded Checkout Form -->
	<div id="embededform-div" hidden>
		<%- include("../stripe-partials/embededform") %>
	</div>
	<!-- End -->

	<!-- Create an Embedded Component-->
	<div id="embededcomponent-div" hidden>
		<%- include("../stripe-partials/embededcomponent") %>		
	</div>
	<!-- End -->


    <!-- Create an Advanced Integration -->
	<div id="advancedintegration-div" hidden>
		<%- include("../stripe-partials/advancedintegration") %>
	</div>
	<!-- End -->

</div>

<%- include("../partials/footer") %>